$display-font: 'montserrat', sans-serif;
$main-font: 'lato', serif;

$light: rgb(236, 240, 241);
$dark: rgb(52, 73, 94);
$grey: #95a5a6;

// $accent: #20b2aa;
$accent: rgb(41, 128, 185);
$offset: #D96100;