ul.nav.nav-pills
  li(role="presentation" ng-class="{ active:tab.isSet(1) }")
    a(ng-click="tab.setTab(1)") TV Show
  li(role="presentation" ng-class="{ active:tab.isSet(2) }")
    a(ng-click="tab.setTab(2)") Movie

section#tv(ng-show="tab.isSet(1)")
  form(role="form" ng-submit="movie.findShow(show)")
    .form-group
      label( for="tv-show") What show are you watching?
      input.form-control#tv-show(type="text" ng-model="show" placeholder="Enter Show Title")
    input.btn.btn-default(type="submit" value="Find Out")
  form(role="form" ng-submit="movie.getEpisodeCredits(movie.showID, seasonNum, episodeNum)" ng-show="movie.seasons.length")
    label(for="season") Season
    select.form-control.col-sm-2#season(ng-model="seasonNum" ng-change="movie.getEpisodes(movie.showID, seasonNum)")
      option(ng-repeat="season in movie.seasons") {{season}}
    label(for="episode") Episode
    select.form-control.col-sm-2#episode(ng-show="movie.episodes.length" ng-model="episodeNum")
      option(ng-repeat="episode in movie.episodes" ng-model="episodeNum") {{episode}}
    input.btn.btn-default(type="submit" value="Find Out")
section#movie(ng-show="tab.isSet(2)")
  form(ng-submit="movie.findMovie(title)" ng-show="movie.search")
    .form-group
      label(for="movie-title") What movie are you watching?
      input.form-control#movie-title(type="text" ng-model="title" placeholder="Enter Movie Title")
    input.btn.btn-default(type="submit" value="Find Out")