p.description So you're watching something on Netflix and definitely recognize that person from something else you watched. Find out what!
h2 What are you watching?
ul.nav.nav-pills
  li(role="presentation" ng-class="{ active:tab.isSet(1) }")
    a(ng-click="tab.setTab(1)") TV Show
  li(role="presentation" ng-class="{ active:tab.isSet(2) }")
    a(ng-click="tab.setTab(2)") Movie

section#tv(ng-show="tab.isSet(1)")
  form(role="form" ng-submit="movie.findShow(movie.show)")
    label( for="tv-show")
    input.form-control#tv-show(type="text" ng-model="movie.show" placeholder="Enter Show Title" required)
    input.btn.btn-default.next-step(type="submit" ng-class="{'disabled': movie.show == $invalid}" value="What episode?")
  form(role="form" ng-submit="movie.getEpisodeCredits(movie.showID, seasonNum, episodeNum)" ng-show="movie.seasons.length" novalidate)
    div#episode-select
      label(for="season") Season:
      select.form-control#season(ng-model="seasonNum" ng-change="movie.getEpisodes(movie.showID, seasonNum)" ng-options="season for season in movie.seasons" required)
      label(for="episode") Episode:
      select.form-control#episode(ng-model="episodeNum" ng-options="episode for episode in movie.episodes" required)
    input.btn.btn-default.next-step(type="submit" value="Find Out" ng-class="{'disabled' : episodeNum == $invalid || seasonNum == $invalid}")
section#movie(ng-show="tab.isSet(2)")
  form(ng-submit="movie.findMovie(title)")
    label(for="movie-title")
    input.form-control#movie-title(type="text" ng-model="title" placeholder="Enter Movie Title")
    input.btn.btn-default.next-step(type="submit" value="Find Out" ng-class="{'disabled': title == $invalid}")